Flask
moviepy
werkzeug
numpy
imageio
imageio-ffmpeg
tqdm
decorator
requests
openai-whisper
ffmpeg
nltk
sentence-transformers
transformers
torch
sentencepiece
protobuf
flask-cors
python-dotenv
openai
huggingface_hub[hf_xet]